.row .link_text a {
  display: block;
}

.jumbotron {
  background-color: #f9f9f9;
  color: black;
  padding: 2px;
  border: 2px solid #ddd;
}

.container {
  padding: 0px;
  height: auto;;
  margin-left: 0px;
}
